.card {

    float:right;
    box-shadow: 0 4px 8px 0 rgba(0, 40, 0, 0.2);
    max-width: 400px;


    font-family: arial;
    background-color:rgb(153, 255, 255);

    margin: 30px;
.bacetcard{
    float:left;
    box-shadow: 0 4px 8px 0 rgba(0, 40, 0, 0.2);
    width: 100%;
    font-family: arial;
    background-color:rgb(153, 255, 255);
}
.wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

a span{
  position: relative;
  z-index: 2;
}

a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all .35s;
}

a:hover{
  color: #fff;
}

a:hover:after{
  width: 100%;
}
  }
.gg{
    float:right;
    background-color:rgb(153, 255, 204);
.price {
    color: grey;
    font-size: 22px;
  }
  
.card b {
    border: none;
    outline: 0;
    padding: 12px;
    background-color:rgb(60, 60, 60);
    color:grey;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  .productline1{
    width: 100%;
    float: left;
    
    margin-top:100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .productline2{
    width: 100%;
    float: left;
    
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }