.card {

    float:left;
    box-shadow: 0 4px 8px 0 rgba(0, 40, 0, 0.2);
    max-width: 400px;


    font-family: arial;
    background-color:gray;

    margin: 30px;


.gg{
    float:left;
    background-color:gray;
.price {
    color: grey;
    font-size: 22px;
  }
  
.card b {
    border: none;
    outline: 0;
    padding: 12px;
    background-color:rgb(60, 60, 60);
    color:grey;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  #freespace{
      height:100px;
      width:100%;
  }
  .productline1{
    width: 100%;
    float: left;
    
    margin-top:100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .productline2{
    width: 100%;
    float: left;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #space{
   width:20%;
  }
  #mainspace{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
}


  }
  }