#portfolioDiv{
     display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
     font-size:large;
         font-family: Arial, Helvetica, sans-serif;


}
.table{
    width:600px;
    height:200px;
    font-size:50px;
    display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%)
}