<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>


    <div th:replace="/fragments/header :: header"/>
    <link rel="stylesheet" href="byuButton.css" type="text/css">
    <link rel="stylesheet" href="bacetbuttons.css" type="text/css">

</head>
<body>
<div th:replace="/fragments/header :: navbar"/>
<div id="freespace"></div>
<div id="mainspace">
    <tr th:each="Product: ${userproducts}" enctype="multipart/form-data">

        <div class="bacetcard"  >
            <div th:switch="${flag}">
                <p th:case="userloggedin">
                    <img th:src="@{${Product.image}}" alt="olimps" height="360px">
                    <td th:text="${Product.name}" />
                    <p class="price">30zł</p>
                </p>
                <p th:case="userNotloggedin">
                    <a> żęby kupić coś nalerzy się zalogować </a>
                </p>
            </div>
        </div>
        <div class="leftcard">
            <a href="#" class="myButton">+</a>
        </div>
        <div class="leftcard">
            <h1>Ilość</h1>
            <td th:text="${Product.amount}" />
        </div>
        <div class="leftcard">
            <a href="#" class="myButton">-</a>
        </div>

    </tr>

</div>
<div class="wrapper">
    <b href="#"><span>Kup teraz</span></b>
</div>
</body>
</html>