<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="maincss.css" type="text/css">
    <link rel="stylesheet" href="Creatne.css" type="text/css">
    <link rel="stylesheet" href="bacetbuttons.css" type="text/css">
    <link rel="stylesheet" href="portfolio.css" type="text/css">
</head>
<body>
<div id="container">
    <div th:replace="/fragments/header :: navbar"/>
    <div id="freespace"></div>
    <div id="portfolioDiv">
        <br/>
        <h1 th:text="${name}" th:remove="tag"> adress</h1>
        <br/>
        <h1 th:text="${name}" th:remove="tag"> adress</h1>
        <br/>
        <h1 th:text="${surname}" th:remove="tag"> surname</h1>
        <br/>
        <span th:text="${adress}" th:remove="tag"> adress</span>
        <br/>
        <span th:text="${number}" th:remove="tag"> number</span>
    </div>
</div>
</body>
</html>