<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<!--Show this info message only if registered successfully-->
<div class="alert alert-info" th:if="${successMessage}" th:utext="${successMessage}"></div>
<form th:action="@{/registration}" th:object="${client}" method="POST">
    <div th:object="${user}">
        password  <input type="text" th:field="*{password}"><br>
       username <input type="text" th:field="*{username}"><br>


    </div>
    <div th:object="${client}">
        Name <input type="text" th:field="*{name}"><br>

        surname <input type="text" th:field="*{surname}"><br>
        adress    <input type="text" th:field="*{adress}"><br>

        phonenumber     <input type="text" th:field="*{number}"><br>
    </div>



<button type="submit">Add Student</button>

</form>


</body>
</html>