body{
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(188, 211, 211);
}

#container{
    height: 100%;
   
    
    width: 80%;
    background-color: rgb(231, 231, 231)
    
}
#logo{
   
    
}

.navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    }
a{
    color:azure ;
    font-size: 50px;
    font-style: italic;
}
.nav{
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}
