body{
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(188, 211, 211);
}

#container{
    height: 100%;
   
    
    width: 80%;
    background-color: rgb(231, 231, 231)
    
}
#logo{
    height: 100%;
    width: 100%;
}
